
/* 
Target specific html tags
*/
div {
  border: 1px;
  text-align: center;
}

/* 
Target specific class-name 
*/
.line {
  width: 50%;
  margin: auto;
  padding: 10px 0;
  text-decoration: underline;
}

/* 
Target specific id 
It is not safe to use id selectors in large projects
because id should be unique in a page
*/

#roses {
  background-color: red;

}

#violets {
  background-color: violet;
}

#sugar {
  background-color: beige;
}